
<nav>

  <div id="left-nav">
    <%= link_to "Boards", boards_path, class: "nav_link" %>
  </div>

  <h2 id="trolly"> Trolly </h2>

  <div id="login-logout"> 
    <% if current_user %>
    <div id="right-nav">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav_link" %>
    </div>
    <% else %>

      <%= link_to "Login", new_user_session_path, class: "nav_link" %>
    <% end %>
  </div>

</nav>
<div id="hidden-div"></div>